services:
  # Контейнер с 3proxy
  proxy:
    build:
      context: ./3proxy
      dockerfile: Dockerfile  # Или Dockerfile.proxy.alpine для Alpine версии
    container_name: vpn_3proxy
    restart: unless-stopped
    environment:
      CELERY_BROKER_URL: redis://redis
      CELERY_RESULT_BACKEND: redis://redis
    volumes:
      # Общие volumes для конфигурации и паролей
      - proxy_config:/etc/3proxy
      - proxy_logs:/var/log/3proxy
    ports:
      # Основные порты прокси
      - "1080:1080"   # SOCKS5
      - "3128:3128"   # HTTP
      # Открываем диапазон портов для прокси
      # - "10000-10100:10000-10100"
    networks:
      - vpn_network
    
    healthcheck:
      test: ["CMD", "pgrep", "3proxy"]
      interval: 30s
      timeout: 10s
      retries: 3

  # Контейнер с ботом
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vpnbot
    restart: unless-stopped
    environment:
      # PROXY_HOSTproxy
      # PROXY_CONFIG_PATH=/etc/3proxy
      CELERY_BROKER_URL: redis://redis
      CELERY_RESULT_BACKEND: redis://redis
    volumes:
      - ./data:/app/data
      # Общие volumes для управления 3proxy
      - proxy_config:/etc/3proxy
      - proxy_logs:/var/log/3proxy
    networks:
      - vpn_network
    depends_on:
      - proxy
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:alpine
    container_name: vpn_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - vpn_network

volumes:
  proxy_config:
    driver: local
  proxy_logs:
    driver: local

networks:
  vpn_network:
    driver: bridge